@model Daidan.Web.Models.AddTripLookup
@{
    ViewBag.Title = "Customer Report";
}

<style type="text/css">
	#searchPanel {
		margin-top: 20px;
	}

		#searchPanel .row {
			margin-bottom: 5px;
		}

		#searchPanel input, #searchPanel select {
			height: 33px;
		}

	#resultTable tr {
		height: 30px;
	}

	#resultTable {
		margin-top: 10px;
	}
</style>
<h2><i class="fa fa-user-secret"></i> Customer Report</h2>
<input type="hidden" id="lookupsText" value='@Html.Raw(Json.Encode(Model))' />
<div id="searchPanel">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-sm-2">
					Customer:
				</div>
				<div class="col-sm-4">
					<select class="form-control" id="customers">
						<option value="">[ALL]</option>
					</select>
				</div>

				<div class="col-sm-2">
					Site:
				</div>
				<div class="col-sm-4">
					<select class="form-control" id="sites">
						<option value="">[ALL]</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-sm-2">
				From:
			</div>
			<div class="col-sm-4">
				<div class="input-group date" id="fromDateGroup">
					<input type="text" class="form-control" placeholder="From Date" id="fromDate" />
					<span class="input-group-addon" style="cursor: pointer;" id="tripDateIcon">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>

			<div class="col-sm-2">
				To:
			</div>
			<div class="col-sm-4">
				<div class="input-group date" id="toDateGroup">
					<input type="text" class="form-control" placeholder="To Date" id="toDate" />
					<span class="input-group-addon" style="cursor: pointer;" id="tripDateIcon">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-sm-2">
					Material:
				</div>
				<div class="col-sm-4">
					<select class="form-control" id="materials">
						<option value="">[ALL]</option>
					</select>
				</div>
				<div class="col-sm-2">P.O #</div>
				<div class="col-sm-4">
					<input type="text" id="PONumber" class="form-control" placeholder="Purchase Order" />
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-sm-2">&nbsp;</div>
				<div class="col-sm-4">&nbsp;</div>
				<div class="col-sm-2">&nbsp;</div>
				<div class="col-sm-4">
					<button class="form-control btn btn-primary" style="float: right;"
							id="viewReportButton">
						View Report &nbsp; <i class="fa fa-file-text-o"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="border-bottom: dotted 1px #000;">&nbsp;</div>
<!--  -->
<div id="searchResult" style="display: none; width: 100%;">
	<div class="row">
		<div class="col-lg-7"></div>
		<div class="col-lg-2">
			<button id="updatePONumberButton" style="margin: 5px 0px 5px 0px;"
					class="btn btn-default btn-block">
				Update P.O Number ...
			</button>
		</div>
		<div class="col-lg-2">
			<button id="updateSellingPriceButton" style="margin: 5px 0px 5px 0px;"
					class="btn btn-default btn-block">
				Update Selling Price ...
			</button>
		</div>
		<div class="col-lg-1">
			<button id="printButton" class="btn btn-default" style="margin: 5px 0px 5px 0px;">
				<i class="fa fa-print"></i>
				&nbsp;
				Print
			</button>
		</div>
	</div>
	<div class="row print-area">
		<div style="border: solid 1px #000; padding: 5px 15px 15px 15px;">
			<h2 class="text-center">Trips Report</h2>
			<h3 id="customerNameHead"></h3>

			<table border="0" style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 10%"><strong>Site:</strong></td>
						<td style="width: 40%" id="siteCell"></td>

						<td style="width: 10%"><strong>Material:</strong></td>
						<td style="width: 40%" id="materialCell"></td>
					</tr>
					<tr>
						<td style="width: 10%"><strong>From:</strong></td>
						<td style="width: 40%" id="fromCell">></td>

						<td style="width: 10%"><strong>To:</strong></td>
						<td style="width: 40%" id="toCell"></td>
					</tr>
				</tbody>
			</table>

			<div class="row">&nbsp;</div>
			<table border="1" class="table-responsive" style="width: 100%;" id="resultTable">
				<thead>
					<tr style="background-color: #EBEBEB; height: 35px;">
						<th style="text-align: center;" width="30">&nbsp;</th>
						<th style="text-align: center;" width="200">Date</th>
						<th style="text-align: center;" width="200">Voucher #</th>
						<th style="text-align: center;" width="100">P.O</th>
						<th style="text-align: center;" width="100">Truck</th>
						<th style="text-align: center;" width="80">Quantity</th>
						<th style="text-align: center;" width="120">Unit Price</th>
						<th style="text-align: center;" width="120">Trip Price</th>
						<th style="text-align: center;" width="30" class="hide-print">&nbsp;</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<style type="text/css" media="print">
				.hide-print {
					display: none;
				}
			</style>
		</div>
	</div>
</div>
<div class="row" id="loadingDiv" style="display: none;">
	<div style="margin: 0 auto; width: 150px;">
		<img src="~/Content/images/loading.gif" alt="" style="margin: 10px;" />
		<br />
		loading ...
	</div>
</div>
<div class="row" style="display: none;" id="noResultMessage">
	<br />
	<h3 style="margin: 0 auto; width: 100%; text-align: center;">There are no trips matching the search parameters!</h3>
</div>

<div class="modal fade" id="updatePONumberModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width: 450px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Update P.O Number</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						P.O Number:
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" id="poNumber" placeholder="P.O Number" />
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Update</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="updateSellingPriceModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width: 450px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Update Selling Price</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-5">
						Unit Selling Price:
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" id="sellingPrice" placeholder="Unit Selling Price" />
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Update</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="~/Scripts/customer-report.js?version=1.5"></script>
<script type="text/javascript" src="~/Scripts/jquery.PrintArea.js_4.js"></script>