
@{
    ViewBag.Title = "Unauthorized";
}
<div style="margin: 40px auto; width: 50%;" class="text-center">
	<h3>
		<i class="fa fa-warning"></i>
		Sorry, you are not unauthorized to open this page!
	</h3>
</div>

