@model  Daidan.Web.Models.AddTripViewModel
@{
    ViewBag.Title = "Add Trips";
}
<input type="hidden" id="lookupsText" value='@Html.Raw(Json.Encode(Model.AddTripLookup))' />

<style type="text/css">
	#addTripModal input, #addTripModal select
	{
		height: 33px;
	}

	#addTripModal *.row
	{
		margin-bottom: 3px;
	}

	#tripsTable tr
	{
		height: 30px;
	}
</style>
<div class="row">
	<div style="float: right; margin: 10px 0px 10px 0px;">
		<button type="button" class="btn btn-default" id="addTripButton"><i class="fa fa-plus-square-o"></i> &nbsp;Add New Trip ...</button>
	</div>
</div>
<div class="row">
	<table border="1" class="table-responsive" style="width: 100%; display: none;" id="tripsTable">
		<thead>
			<tr style="background-color: #EBEBEB; height: 35px;">
				<th style="text-align: center;" width="30">&nbsp;</th>
				<th style="text-align: center;" width="85">Date</th>
				<th style="text-align: center;" width="75">Voucher #</th>
				<th style="text-align: center;" width="75">P.O</th>
				<th style="text-align: center;" width="115">Customer</th>
				<th style="text-align: center;" width="130">Site</th>
				<th style="text-align: center;" width="80">Truck</th>
				<th style="text-align: center;" width="90">Material</th>
				<th style="text-align: center;" width="80">Quantity</th>
				<th style="text-align: center;" width="70">Unit Cost</th>
				<th style="text-align: center;" width="75">Trip Cost</th>
				<th style="text-align: center;" width="75">Extra Cost</th>
				<th style="text-align: center;" width="75">Total Cost</th>
				<th style="text-align: center;" width="35">&nbsp;</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div class="row" id="loadingDiv">
		<div style="margin: 0 auto; width: 150px;">
			<img src="~/Content/images/loading.gif" alt="" style="margin: 10px;" />
			<br />
			loading ...
		</div>
	</div>
	<div class="row" style="display: none;" id="noResultMessage">
		<br />
		<h3 style="margin: 0 auto; width: 100%; text-align: center;">No trips added today</h3>
	</div>
</div>
@Html.Partial("~/Views/Shared/_EditTripModal.cshtml", null)
<script type="text/javascript" src="~/Scripts/add-trip-script.js?version=1.1"></script>